$odd: #CCCCCC;
$even: #AAAAAA;
$onhover: #999999;
$border: #444444;
$header: #AAAAFF;
$headline: #222222;

fieldset {
    margin: auto;
    border-width: 5px;
}

table {
    margin: auto;
    border: 2px solid $border;
}

td, th {
    margin:a auto;
    padding: 3px;
    border: 1px solid $border;
    margin: 2px;
    text-align: center;
}

th {
    color: $headline;
}

tr:nth-child(even) {
    background-color: $even;
}

tr:nth-child(odd) {
    background-color: $odd;
}

tr:hover {
    background-color: $border;
    color: $odd;
}

thead, th {
    background-color: $header !important;
}
