.modal-container {
    background-color: rgba(0, 0, 0, 0.500); /* Black w/ opacity */
    display: none; /* display: flex when visible */
    flex-direction: row;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-constrictor {
    background-color: #333333;
    justify-self: center;
    margin: 10% 10%;
    border-radius: 6px;
}

.close {
    background-color: red;
    float: right;
    font-weight: bold;
    margin: 0;
    padding: 0px 12px 6px 12px;
    border-radius: 0 6px 0 0;
}