.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.red {
    background-color: #ff8888;
    border: 0.5em solid #ff0000 !important;
}

.blue {
    background-color: #8888ff;
    border: 0.5em solid #0000ff !important;
}

.green {
    background-color: #88ff88;
    border: 0.5em solid #00ff00 !important;
}