nav {
    background: linear-gradient(#444444 0%, #333 50%);
    min-height: 2em;
}

button {
    background: linear-gradient(#444444 0%, #333 50%);
    color: #dddddd;
    border-style: none;
    padding-left: 12px;
    padding-right: 12px;
    height: 2em;
    
}

button:hover {
    // background-color: #555555;
    background: linear-gradient(#333333 0%, #555555 50%);
    transition: background 750ms;
}

span {
    margin-right: 5px;
    color: #dddddd;
}

#nav-left, #login-div {
    display: flex;
}

#nav-left {
    float: left;
    margin-left: 6px;
}

#login-div {
    float: right;
    margin-right: 6px;
}

#login-div > span {
    padding-top: 3px;
}

.vertical-bar {
    min-width: 1px;
    max-width: 1px;
    margin-top: 0.125em;
    height: 1.75em;
    background-color: #222;
}